            <!-- ############################################## -->
            <!-- START REFERENCES-BLOCK -->
            <container class="references-card">
                <row>
                    <columns large="12" small="12">
                        <wrapper class="layout-bg">

                            <p class="no-margin-top"><strong>References:</strong></p>
                            <ol>
                                {{#each references-card}}
                                    <li>{{{this}}}</li>
                                {{/each}}
                            </ol>
                        </wrapper>
                    </columns>
                </row>
            </container>
            <!-- END REFERENCES-BLOCK -->
            <!-- ############################################## -->
