	"mmn":"{{mmn}}",
	{{#if (isVAE emailType)}}
	"from": ["Rep@lilly.com"],
	{{/if}}
    "approvalMonth":"<span class='placeholder'>MM</span>",
    "approvalYear":"<span class='placeholder'>YYYY</span>",
	"build-tool-version":"3.0.7",
	"previewText":[
	  "placeholder_preview_text"
	],
	"subjectLines":[
	  "placeholder_subject_line"
	]