
                    <!-- END BRANDED HEADER -->
                    <!-- ############################################## -->

                    <!-- ####################################################### -->
                    <!-- START ISI -->


                    <container class="isi-card">
                        <row>
                            <columns>
                                <wrapper class="header">

                                    <!--[if gte mso 9]>
            		                                           <style type="text/css">
            		                                           /* Your Outlook-specific CSS goes here. */
            		                                        h1,   h2,   h3,   h4,   h5 {
            		                                              font-size: 14px}
            		                                           </style>
            		                                        <![endif]-->

                                    <h1>Indication, Limitations of Use, and Important Safety Information</h1>

                                </wrapper>
                            </columns>
                        </row>
                        <row>
                            <columns>
                                <wrapper>

                                    <!--[if gte mso 9]>
            		                                           <style type="text/css">
            		                                           /* Your Outlook-specific CSS goes here. */
            		                                        h1,   h2,   h3,   h4,   h5 {
            		                                              font-size: 14px}
            		                                           </style>
            		                                        <![endif]-->


                                    <p class="no-margin-top"><b>Indication:</b>Trulicity is indicated as an adjunct to diet and exercise to improve glycemic control in adults with type 2 diabetes.</p>


                                    <p><b>Limitations of Use:</b> Not recommended as first-line therapy for patients inadequately controlled on diet and exercise because of the uncertain relevance of rodent C-cell tumor findings to humans. Prescribe only
                                        if potential benefits outweigh potential risks. Has not been studied in patients with a history of pancreatitis; consider another antidiabetic therapy. Not for the treatment of type 1 diabetes mellitus or diabetic
                                        ketoacidosis. Not a substitute for insulin. Has not been studied in patients with severe gastrointestinal disease, including severe gastroparesis. Not for patients with pre-existing severe gastrointestinal disease.</p>


                                    <h1 class="secondary-color"><b>IMPORTANT SAFETY INFORMATION</b></h1>


                                    <container class="black-box">
                                        <row>
                                            <columns>
                                                <wrapper>

                                                    <h1 class="no-margin-top"><b>WARNING: RISK OF THYROID C-CELL TUMORS</b></h1>
                                                    <p><b>In male and female rats, dulaglutide causes a dose-related and treatment-duration-dependent increase in the incidence of thyroid C-cell tumors (adenomas and carcinomas) after lifetime exposure. It is unknown whether Trulicity causes thyroid C-cell tumors, including medullary thyroid carcinoma (MTC), in humans as human relevance of dulaglutide-induced rodent thyroid C-cell tumors has not been determined.</p>
            		                                                            		<p class="no-margin-bottom"><b>Trulicity is contraindicated in patients with a personal or family history of MTC and in patients with Multiple Endocrine Neoplasia syndrome type 2 (MEN 2). Counsel patients regarding the potential risk of MTC with use of Trulicity and inform them of symptoms of thyroid tumors (eg, mass in the neck, dysphagia, dyspnea, persistent hoarseness). Routine monitoring of serum calcitonin or using thyroid ultrasound is of uncertain value for early detection of MTC in patients treated with Trulicity.</p>
            		                                                        
            		                                                    </wrapper>
            		                                                </columns>
            		                                            </row>
            		                                        </container>                                
            		
            		
            		                                        		<p ><b>Trulicity is contraindicated in patients with a personal or family history of MTC or in patients with MEN 2, and in patients with a prior serious hypersensitivity reaction to dulaglutide or any of the product components.</p>
            		
            		
            		                                        		<p ><b>Risk of Thyroid C-cell Tumors: </b>Cases of MTC in patients treated with liraglutide, another GLP-1 receptor agonist (GLP-1 RA), have been reported in the postmarketing period; the data in
                                                        these reports are insufficient to establish or exclude a causal relationship between MTC and GLP-1 RA use in humans. If serum calcitonin is measured and found to be elevated or thyroid nodules are
                                                        noted on physical examination or neck imaging, the patient should be further evaluated.</p>


                                                    <p><b>Pancreatitis: </b>Has been reported in clinical trials. Observe patients for signs and symptoms including persistent severe abdominal pain. If pancreatitis is suspected, discontinue Trulicity promptly.
                                                        Do not restart if pancreatitis is confirmed. Consider other antidiabetic therapies in patients with a history of pancreatitis.</p>


                                                    <p><b>Hypoglycemia: </b>The risk of hypoglycemia is increased when Trulicity is used in combination with insulin secretagogues (eg, sulfonylureas) or insulin. Patients may require a lower dose of the sulfonylurea
                                                        or insulin to reduce the risk of hypoglycemia.</p>


                                                    <p><b>Hypersensitivity Reactions: </b>There have been postmarketing reports of serious hypersensitivity reactions (eg, anaphylactic reactions and angioedema) in patients treated with Trulicity. Instruct
                                                        patients who experience symptoms to discontinue Trulicity and promptly seek medical advice. Use caution in a patient with a history of angioedema or anaphylaxis with another GLP-1 receptor agonist
                                                        as it is unknown whether they will be predisposed to anaphylaxis with Trulicity.</p>


                                                    <p><b>Renal Impairment: </b>In patients treated with GLP-1 RAs, there have been postmarketing reports of acute renal failure and worsening of chronic renal failure, sometimes requiring hemodialysis. A majority
                                                        of reported events occurred in patients who had experienced nausea, vomiting, diarrhea, or dehydration. In patients with renal impairment, use caution when initiating or escalating doses of Trulicity
                                                        and monitor renal function in patients experiencing severe adverse gastrointestinal reactions.</p>


                                                    <p><b>Severe Gastrointestinal Disease: </b>Use of Trulicity may be associated with gastrointestinal adverse reactions, sometimes severe. Trulicity has not been studied in patients with severe gastrointestinal
                                                        disease, including severe gastroparesis, and is therefore not recommended in these patients.</p>


                                                    <p><b>Macrovascular Outcomes: </b>There have been no clinical studies establishing conclusive evidence of macrovascular risk reduction with Trulicity.</p>


                                                    <p><b>The most common adverse reactions (excluding hypoglycemia) </b>reported in ≥5% of Trulicity-treated patients in placebo-controlled trials (placebo, Trulicity 0.75 mg, and Trulicity 1.5 mg) were nausea
                                                        (5.3%, 12.4%, 21.1%), diarrhea (6.7%, 8.9%, 12.6%), vomiting (2.3%, 6.0%, 12.7%), abdominal pain (4.9%, 6.5%, 9.4%), decreased appetite (1.6%, 4.9%, 8.6%), dyspepsia (2.3%, 4.1%, 5.8%), and fatigue
                                                        (2.6%, 4.2%, 5.6%).</p>


                                                    <p><b>Gastric emptying </b>is slowed by Trulicity, which may impact absorption of concomitantly administered oral medications. Use caution when oral medications are used with Trulicity. Drug levels of oral
                                                        medications with a narrow therapeutic index should be adequately monitored when concomitantly administered with Trulicity. In clinical pharmacology studies, Trulicity did not affect the absorption
                                                        of the tested, orally administered medications to a clinically relevant degree.</p>


                                                    <p><b>Pregnancy: </b>Limited data with Trulicity in pregnant women are not sufficient to determine a drug-associated risk for major birth defects and miscarriage. Based on animal reproduction studies, there
                                                        may be risks to the fetus from exposure to dulaglutide. Use only if potential benefit justifies the potential risk to the fetus.</p>


                                                    <p><b>Lactation: </b>There are no data on the presence of dulaglutide in human milk, the effects on the breastfed infant, or the effects on milk production. The developmental and health benefits of breastfeeding
                                                        should be considered along with the mother’s clinical need for Trulicity and any potential adverse effects on the breastfed infant from Trulicity or from the underlying maternal condition.</p>


                                                    <p><b>Pediatric Use: </b>Safety and effectiveness of Trulicity have not been established and use is not recommended in patients less than 18 years of age.</p>


                                                    <p><b>Please click to access <a href="http://uspl.lilly.com/trulicity/trulicity.html#pi" target="_blank">Prescribing Information</a>, including Boxed Warning about possible thyroid tumors including thyroid cancer, and <a href="http://uspl.lilly.com/trulicity/trulicity.html#mg" target="_blank">Medication Guide</a>.</b></p>


                                                    <p><b>Please see <a href="http://uspl.lilly.com/trulicity/trulicity.html#ug" target="_blank">Instructions for Use</a> included with the pen.</b></p>


                                                    <p>DG HCP ISI 06FEB2017</p>


                                                    <p>Trulicity<sup>®</sup> is a registered trademark owned or licensed by Eli Lilly and Company, its subsidiaries, or affiliates. Trulicity is available by prescription only.</p>


                                                </wrapper>
                                            </columns>
                                        </row>

                                    </container>

                                    <!-- END ISI -->
                                    <!-- ################################################# -->