
                        <!-- ####################################################### -->
                        <!-- START ISI -->


                        <container class="isi-card">
                            <row>
                                <columns>
                                    <wrapper class="header">

                                        <h3>INDICATIONS AND IMPORTANT SAFETY INFORMATION</h3>

                                    </wrapper>
                                </columns>
                            </row>
                            <row>
                                <columns>
                                    <wrapper>

                                        <h3 class="no-margin">INDICATIONS</h3>

                                        <p class="no-margin"> <strong>Psoriatic Arthritis:</strong> </p>

                                        <p class="no-margin-top">Taltz is indicated for the treatment of adult patients with active psoriatic arthritis.</p>

                                        <p class="no-margin"> <strong>Plaque Psoriasis:</strong> </p>

                                        <p  class="no-margin-top">Taltz is indicated for the treatment of adult patients with moderate to severe plaque psoriasis who are candidates for systemic therapy or phototherapy.</p>



                                        <h3 class="no-margin-top">CONTRAINDICATIONS</h3>


                                        <p class="no-margin-top">Taltz is contraindicated in patients with a previous serious hypersensitivity reaction, such as anaphylaxis, to ixekizumab or to any of the excipients.</p>


                                        <h3  class="no-margin-bottom">WARNINGS AND PRECAUTIONS</h3>


                                        <p class="no-margin"> <strong>Infections</strong> </p>


                                        <p  class="no-margin-top">Taltz may increase the risk of infection. In clinical trials of patients with plaque psoriasis, the Taltz group had a higher rate of infections than the placebo group (27% vs 23%). A similar increase in risk of
                                            infection was seen in placebo-controlled trials of patients with psoriatic arthritis. Serious infections have occurred. Instruct patients to seek medical advice if signs or symptoms of clinically important chronic
                                            or acute infection occur. If a serious infection develops, discontinue Taltz until the infection resolves.</p>


                                        <p class="no-margin-bottom"> <strong>Pre-Treatment Evaluation for Tuberculosis</strong> </p>


                                        <p class="no-margin-top">Evaluate patients for tuberculosis (TB) infection prior to initiating treatment with Taltz. Do not administer to patients with active TB infection. Initiate treatment of latent TB prior to administering Taltz. Closely
                                            monitor patients receiving Taltz for signs and symptoms of active TB during and after treatment.</p>


                                        <p class="no-margin-bottom"> <strong>Hypersensitivity</strong> </p>


                                        <p class="no-margin-top">Serious hypersensitivity reactions, including angioedema and urticaria (each ≤0.1%), occurred in the Taltz group in clinical trials. Anaphylaxis, including cases leading to hospitalization, has been reported in
                                            post-marketing use with Taltz. If a serious hypersensitivity reaction occurs, discontinue Taltz immediately and initiate appropriate therapy.</p>


                                        <p class="no-margin-bottom"> <strong>Inflammatory Bowel Disease</strong> </p>


                                        <p class="no-margin-top">During Taltz treatment, monitor patients for onset or exacerbations of inflammatory bowel disease. Crohn’s disease and ulcerative colitis, including exacerbations, occurred at a greater frequency in the Taltz group
                                            (Crohn’s disease 0.1%, ulcerative colitis 0.2%) than in the placebo group (0%) during clinical trials in patients with plaque psoriasis.</p>


                                        <p class="no-margin-bottom"> <strong>Immunizations</strong> </p>


                                        <p class="no-margin-top">Prior to initiating therapy with Taltz, consider completion of all age-appropriate immunizations according to current immunization guidelines. Avoid use of live vaccines in patients treated with Taltz.</p>


                                        <h3>ADVERSE REACTIONS</h3>


                                        <p class="no-margin-top">Most common adverse reactions (≥1%) associated with Taltz treatment are injection site reactions, upper respiratory tract infections, nausea, and tinea infections. Overall, the safety profile observed in patients
                                            with psoriatic arthritis was consistent with the safety profile in patients with plaque psoriasis, with the exception of influenza and conjunctivitis.</p>


                                        <p><strong>Please click to access the <a href="http://uspl.lilly.com/taltz/taltz.html#pi" target="_blank">Prescribing Information</a> and <a href="http://uspl.lilly.com/taltz/taltz.html#mg" target="_blank">Medication Guide</a>. Please see <a href="http://uspl.lilly.com/taltz/taltz.html#ug0" target="_blank">Instructions for Use</a> included with the device.</strong></p>

                                        <p class="no-margin-bottom">IX HCP ISI 01DEC2017</p>

                            {{#if isi-card.content}}
                                {{#each isi-card.content}}

                                        {{> html-element this}}

                                {{/each}}
                            {{/if}}


                                    </wrapper>
                                </columns>
                            </row>

                        </container>

                        <!-- END ISI -->
                        <!-- ################################################# -->