
                            <p class="footer-small-text small-text-center no-margin-top">
                                <a href="https://www.lillyhub.com/legal/lillyusa/english/copyright.html" target="_blank" class="footer-small-text">
                                    <span class="no-break">&copy; Lilly USA, LLC {{footers.copyrightYear}}.</span> <span class="no-break">All Rights Reserved.</span>
                                </a>
                            </p>
                            <p class="footer-small-text small-text-center ">
                                {{{ mmn }}} <span style="white-space: nowrap">{{{ approvalMonth }}}/{{{ approvalYear }}}</span>
                            </p>

                            <container class="disclaimers transparent"  style="border-top: 2px solid #d5d5d5;">
                                <row class="collapse-vertical">
                                    <columns large="10" small="6">
                                        <spacer size="16">
                                        <a href="https://www.lilly.com" target="_blank">
                                            <img src="http://image.mc.lilly.com/lib/fe8d1274746c037e70/m/1/d2e6c31a-efd5-49d7-ba81-8600400692ae.png" alt="Eli Lilly and Company" height="50" class="" />
                                        </a>

                                    </columns>
                                    <columns large="2" small="6">
                                        <spacer size="16">

                                        <a href="https://www.lilly.com" target="_blank">
                                            <img src="http://image.mc.lilly.com/lib/fe8d1274746c037e70/m/1/lilly_logo_red.png" alt="Eli Lilly and Company" height="50" class="float-right" />
                                        </a>
                                    </columns>
                                </row>
                            </container>