
                            <container class="disclaimers transparent">
                                <row class="collapse-vertical">
                                    <columns large="10" small="12" valign="bottom">
                                        <p class="footer-small-text small-text-center no-margin-top">
                                            <a href="https://www.lillyhub.com/legal/lillyusa/english/copyright.html" target="_blank" class="footer-small-text">
                                                <span class="no-break">&copy; Lilly USA, LLC {{footers.copyrightYear}}.</span> <span class="no-break">All rights reserved.</span>
                                            </a>
                                        </p>
                                        <p class="footer-small-text small-text-center ">
                                            {{{ returnToUpperCase mmn}}} <span style="white-space: nowrap">{{{approvalMonth}}}/{{{ approvalYear }}}</span>
                                        </p>

                                    </columns>
                                    <columns large="2" small="12" valign="bottom">
                                        <a href="https://www.lilly.com" target="_blank">
                                            <img src="http://image.mc.lilly.com/lib/fe8d1274746c037e70/m/1/lilly_logo_red.png" alt="Eli Lilly and Company" width="78" height="42" class="float-center" />
                                        </a>
                                    </columns>
                                </row>
                            </container>