<p class="small-text-center">
    Do not reply to this email. If you have a question about a Lilly product, please call <strong><span style="white-space: nowrap">1-800-LillyRx</span><span style="white-space: nowrap"> (1-800-5&#8203;45-5979)</span></strong>.</span>
</p>