<p class="small-text-center">
    This is a promotional message. If you do not wish to receive future emails from Lilly USA, LLC, <a href="https://lsc.myregistrationp.com/" target="_blank">click here</a>{{#if this}} or call <strong><span style="white-space: nowrap">1-800-LillyRx</span> <span style="white-space: nowrap">(1-800-5&#8203;45-5979)</span></strong>{{/if}}.
</p>