
$primary-color: $lilly-red;
$secondary-color: $lilly-dark-grey;

$anchor-color: $lilly-blue;
$footer-link-color: $lilly-blue;

$btn-color: $lilly-red;
$btn-color-2: $secondary-color;
$btn-color-3: $lilly-blue;

$isi-header-color: $primary-color; // $default-font-color

$background-color-1: $primary-color;
$background-color-2: $secondary-color;


// //  --------------------------------------
// //  1. Colors
// //  --------------------------------------

// //  Lilly Colors
// 	//  Primary Colors
// $lilly-red: #D52B1E;
// $lilly-medium-grey: #A59D95;
// $button-margin: 24px 24px 24px 24px;
// $lilly-dark-grey: #82786F;
// 	//  Neutral Colors
// $lilly-white: #FFFFFF;
// $lilly-khaki: #D3BF96;
// 	//  Dark Colors
// $lilly-brown: #573938;
// $lilly-dark-green: #275E37;
// $lilly-dark-blue: #263F6A;
// 	//  Bright Colors
// $lilly-orange: #FF6D22;
// $lilly-yellow: #FED100;
// $lilly-green: #00AF3F;
// $lilly-blue: #00A1DE;
// $lilly-purple: #B1059D;

// //  Brand Colors
// 	//  Humatrope
// $humatrope-color-1: #583E87;
// $humatrope-color-2:#7A8387;
// $humatrope-color-3: #F39D1A;
// $humatrope-color-4: #00A0B1;
// $humatrope-color-5: #E8E8E8;
// 	//  Alimta
// $alimta-color-1: #111083;
// $alimta-color-2: #5971B3;
// $alimta-color-3: #FF8500;
// $alimta-color-4: #D3BF96;
// $alimta-color-5: #6B6529;
// 	//Verzenio
// $verzenio-color-1: #00ABC7;
// $verzenio-color-2: #301946;
// $verzenio-color-3: #00698F;
// $verzenio-color-4: #C1B8BF;
// $verzenio-color-5: #AB989C;
// $verzenio-color-6: #E6ECEC;
// 	//Taltz
// $taltz-color-1: #49A942;
// $taltz-color-2: #33632E;
// $taltz-color-3: #C3D141;
// $taltz-color-4: #BACB96;
// $taltz-color-5: #475666;
// $taltz-color-6: #B0C2C9;
// $taltz-color-7: #B0C2C9;
// 	//Cyramza
// $cyramza-color-1: #A78E70;
// $cyramza-color-2: #D44927;
// $cyramza-color-3: #7D9AAA;
// $cyramza-color-4: #666666;
// 	//Forteo
// $forteo-color-1: #032B64; // dark blue
// $forteo-color-2: #709ACB; // light blue

// 	//Humalog
// $humalog-color-1: #850057; // burgundy
// $humalog-color-2: #532E60; // purple
// $humalog-color-3: #DC0451; // magenta
// $humalog-color-4: #CD202C; // red
// $humalog-color-5: #E17000; // orange
// $humalog-color-6: #F0AB00; // yellow
// $humalog-color-7: #766A62; // dark gray
// $humalog-color-8: #988F86; // medium gray
// $humalog-color-9: #B7B1A9; // light gray
// $hulalog-color-10: #D5D2CA; // soft gray